.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
.idea/workspace.xml___jb_tmp___
.idea/sonarlint/issuestore/index.pb
*.log
.idea/sonarlint/issuestore/2/a/2ad1cf95cf064153d8a4d13972044d51140ca5e5
.idea/sonarlint/issuestore/3/7/3707d82be0538de57743421b5bfe76021cb2d440
.idea/sonarlint/issuestore/c/a/ca0e5f0bb66694b948a11c704be73df592af9011
.idea/sonarlint/issuestore/a/4/a4b49def63f4329fcacbdfbe91ad486ba511ec3b
.idea/sonarlint/issuestore/f/4/f4bbe5dbaabda627a748d6829e1cee7945075d99
.idea/sonarlint/issuestore/c/4/c4e8a8b862214d7f5b7c858f04a293e8fd7dab51
.idea/sonarlint/issuestore/b/1/b1e17f3b2c96d7575fc58025f5ab347347d2dda4
.idea/sonarlint/issuestore/3/4/348b7b4af106ea47b5295db217256fa35b486ade
.idea/sonarlint/issuestore/4/b/4b2e86d7c2f8b5b5b8cb95bd2339ffede75cf864
